body{
    // background: url(./images/bg.jpg) no-repeat red;
}
.mainheader,.mainheader ul,
.mainheader .el-submenu__title,
.mainheader .el-submenu__title svg span,
.mainheader .el-active .el-submenu__title,
.mainheader .el-submenu__title,
.mainheader .is-active span,
.mainheader .is_opened .el-submenu__title svg span,
.mainheader .el-menu ul,
.mainheader .el-submenu .el-submenu__title,
.mainheader .el-submenu__title,
.mainheader .el-menu ul a li,
.mainheader .menu-wrapper .is-active .el-submenu__title
.mainheader .el-submenu .is-active,
.mainheader .el-menu--popup-bottom-start a .el-menu-item span,
.nest-menu .el-submenu .el-submenu__title,
.el-menu--horizontal .el-menu--popup-right-start a .el-menu-item,
.el-menu--horizontal .el-menu li,
.router-link-exact-active .router-link-active, 

.el-menu-item .is-active .el-menu .el-menu--popup .el-menu--popup-bottom-start .router-link-exact-active .router-link-active .el-submenu .is-active 
{
    background:#222222!important;
}
*{
   font:normal "Microsoft YaHei" 'HYZHongSongJ'
   Horizontal width scale 70%,!important;
 
}
.el-submenu__title,
.el-menu-item span,
.el-button--primary span
{
    color:#fff!important;
}
.el-table th>.cell,
.el-submenu.is-opened >.el-menu--inline>.el-menu-item,
.el-checkbox__label,
.el-tree-node__label,
.el-form-item__label{
    color:#333333!important;
    font-size:14px!important;
}
.colAddrcells .tit,
.uladdrs li{
    color:#333333!important;
    font-size:16px!important;
}
.rowAddrcells .colAddrcells .uladdrs .seled{
    background-color:#aaaaaa!important;
    color:#e1e1e1!important;
}
.el-table .cell{
    color:#666666!important;
    font-size:14px!important;
}
.el-dropdown-menu__item{
    color:#333333!important;
    font-size:14px!important;
}
.el-table,
.el-menu--horizontal.menu-wrapper .el-submenu__title,
#app .hideSidebar .el-submenu > .el-submenu__title span,
.el-tabs__item{
    color:#333!important;
    font-size:14px!important;
}
.el-submenu__title:hover, .el-menu-item:hover,.el-menu-item span:hover{
    color:#00ADEF!important;
}
.el-submenu.is-active .el-submenu__title,
.router-link-exact-active .el-menu-item span,
.el-tabs__item .is-active,
.el-submenu.is-opened >.el-menu--inline>.el-menu-item.is-active,
.el-tabs__item.is-active,
.el-checkbox__input.is-checked+.el-checkbox__label,
.el-col dl dt strong
{
    color:#00ADEF!important;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background-color: #00ADEF;
    border-color:#00ADEF;
}
.el-tabs__active-bar{
    background-color:#00ADEF!important;
}
.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus{
    border-color:#00ADEF!important;
}

.el-date-table td.current:not(.disabled) span,
.el-button.is-disabled, .el-button.is-disabled:focus, .el-button.is-disabled,
.el-date-table td.end-date span, .el-date-table td.start-date span,
.el-pagination.is-background .el-pager li:not(.disabled).active{
    background-color:#00ADEF!important;
    color:#fff;
}
.el-message-box__btns button:nth-child(2),
.el-button--primary{
  border-color:#00ADEF!important;
  background:#00ADEF!important;
}
.el-button--primary:hover,
.el-message-box__btns button:nth-child(2):hover,
.el-button--success{
  border-color:#176DB7!important;
  background:#176DB7!important;
}
.el-button--info{
  border-color:#666!important;
  background:#666!important;
}
.el-button--info:hover{
  border-color:#333 !important;
  background:#333!important;
}
.highcharts-title tspan{
  color:#333;
  font-family: HYZHongSongJ;
}
.el-button--danger{
  background-color: #9f0002!important;
  border-color:#9f0002!important;
}
.el-button--default{
    background-color:#666666!important;
    color:#fff!important;
}
.el-tree-node__content:hover,
.el-button--default:hover{
    background-color:#AAAAAA!important;
    border-color:#AAAAAA!important;
    color:#FFF!important;
}
.el-dropdown-menu__item:hover{
    background-color:#ccc!important;
}
.del{
    background-color:#9f0002!important;
    color:#fff!important;
}
.el-picker-panel__footer>.el-button--default,
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content{
    background-color:#e1e1e1;
    background:#00ADEF!important;
  }
  .el-button--primary:hover{
    border-color:#176DB7!important;
    background:#176DB7!important;
  }
  .el-button--info{
    border-color:#666!important;
    background:#666!important;
  }
  .el-button--info:hover{
    border-color:#333 !important;
    background:#333!important;
  }
.visualmenu  .el-submenu__title,
.visualmenu  .el-menu-item span
{
    color:#303133!important;
}
.visualmenu .el-menu-item{ border-right: 1px solid #e6e6e6;}
.login-container .el-form-item {
    border: 1px solid #999!important;
    background: #ccc!important;
    // border-radius: 5px;
}
.login-container .el-input input{
    color:#333!important;
}
.login-container .el-input input::-webkit-input-placeholder {
    color: #999!important;
}
 
.login-container .el-input input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999!important;
}
 
.login-container .el-input input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999!important;
  }
.el-table__row .current-row {
    background:#00ADEF!important;
}
.el-date-editor .el-range-separator{
    padding: 0 5px;
    line-height: 32px;
    width: 10%;
    color: #303133;
}